<div>

<div class="row page-header" >
<div class="col-md-2 thumbnail"><img ng-src="{{friend._source.picture}}" /> </div>

<div class="col-md-8">
<h1>{{friend._source.name}}</h1>
</div>
<div class="col-md-2">
<h1><small>{{friend._source.balance}}</small></h1>
</div>
</div>
<div class="row">
<div class="col-md-2">
<p>Works at <strong>{{friend._source.company}}</strong></p>
</div>
<div class="col-md-10">
<p class="lead">{{friend._source.greeting}}</p>
 </div>
</div>
<div class="row">
<div class="col-md-2">
<div class="panel panel-primary">
<div class="panel-heading"><h5>Address</h5></div>
<div class="panel-body"><address>
 {{friend._source.address}}
 </address>
 </div>
 </div>
</div>
<div class="col-md-10">
 <p>{{friend._source.about}}</p>
 </div>
 </div>
 <div class="row">
<div class="col-md-2">

 Age: {{friend._source.age}}

</div>
<div class="col-md-4">
 </div>
 </div>
 <div class="row">
<div class="col-md-2">Gender: 
 {{friend._source.gender}}</div>
<div class="col-md-4"></h1>
 </div>
 </div>
 <div class="row">
<div class="col-md-2">
 Registered: {{friend._source.registered}}
 </div>
<div class="col-md-4">
 </div>
 </div>
 <div class="row">
<div class="col-md-2">
 <p></p>
</div>

 </div>
 <div class="row">
<div class="col-md-2"></div>

</div>
<p></p>
</div>